.container{
    display: grid;
    grid-template-areas:'left center right';
}

.ticGrid{
    grid-area: center;
    border: 2px dotted darkgoldenrod;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 3px;
    height: 500px;
    width: 500px;
}

.square{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}